<header>
    <div class="haed-top">
        <div class="container">
            <div class="head-top-info">
                <div class="ctat-info">
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i>
                            <a href="javascript:void(0);">
                                +123 432 2334
                            </a>
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            <a href="javascript:void(0);">
                                support@mail.com
                            </a>
                        </li>
                        <li>
                            <i class="far fa-clock"></i>
                            <span>
                                Mon - Fri : 08.00 - 17.00
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="social-icon">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-support-wp">
        <div class="container">            
            <div class="row">
                <div class="col-md-4">
                    <a href="javascript:void(0);" class="brand-lk">
                        <img src="../assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="sprt-item-wp">
                        <div class="sprt-item">
                            <span class="icon-wp">
                                <i class="fas fa-phone"></i>
                            </span>
                            <div class="sprt-info">
                                <h3>Call Us Now</h3>
                                <a href="javascript:void(0);">
                                    +123 3344 554
                                </a>
                            </div>
                        </div>
                        <div class="sprt-item">
                            <span class="icon-wp">
                                <i class="far fa-envelope"></i>
                            </span>
                            <div class="sprt-info">
                                <h3>Email Us</h3>
                                <a href="javascript:void(0);">
                                    info@mail.com
                                </a>
                            </div>
                        </div>
                        <div class="sprt-item">
                            <span class="icon-wp">
                                <i class="far fa-clock"></i>
                            </span>
                            <div class="sprt-info">
                                <h3>Call Us Now</h3>
                                <span>
                                    Mon - Fri : 08.00 - 17.00
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-wp">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">Pages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">Contact Us</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav get-quote-wp">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="fas fa-edit"></i> Get A Quote</a>
                    </li>
                  </ul>
                </div>  
              </nav>
        </div>
    </div>
</header>